
.btn-primary {
    margin-top: 100px;
}

.body_show{
    display: flex;
    gap: 0;
    padding: 40px !important;
}

.left_side{
    width: 70% !important;
}

.imgCardd{
    width: 100%;
}
.imgCardd img{
    width: 100%;
}
.right_side{
    width: 90% !important;
}
.lol{
    width: 100% !important;
}

.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 80%;
   
}
.modal-content{
    border-radius: 40px !important;
    border: none;
}